In [1]:
import pandas as pd
from pathlib import Path

In [2]:
Vaccinations= Path("Data/COVID-19_Vaccinations_in_the_United_States.csv")

In [3]:
Vax_df= pd.read_csv(Vaccinations, encoding="ISO-8859-1")

In [4]:
Vax_df.head()

,Date,Recip_County,Recip_State,Administered_Dose1_Recip,Administered_Dose1_Pop_Pct,Administered_Dose1_Recip_5Plus,Administered_Dose1_Recip_5PlusPop_Pct,Administered_Dose1_Recip_12Plus,Administered_Dose1_Recip_12PlusPop_Pct,Administered_Dose1_Recip_18Plus,...,Series_Complete_5Plus,Series_Complete_5PlusPop_Pct,Series_Complete_5to17,Series_Complete_5to17Pop_Pct,Series_Complete_12Plus,Series_Complete_12PlusPop_Pct,Series_Complete_18Plus,Series_Complete_18PlusPop_Pct,Series_Complete_65Plus,Series_Complete_65PlusPop_Pct
0,5/10/2023,Yukon-Koyukuk Census Area,AK,4516.0,86.3,4452.0,92.2,4074.0,95.0,3672.0,...,4135.0,85.6,707.0,66.8,3821.0,91.3,3428.0,90.9,767.0,93.3
1,5/10/2023,Bethel Census Area,AK,13690.0,74.5,13508.0,82.3,12013.0,86.9,10226.0,...,12643.0,77.0,2944.0,64.5,11385.0,82.4,9699.0,81.9,1250.0,86.3
2,5/10/2023,Bristol Bay Borough,AK,1182.0,95.0,1174.0,95.0,1138.0,95.0,1085.0,...,952.0,95.0,81.0,89.0,920.0,95.0,871.0,95.0,125.0,91.9
3,5/10/2023,Southeast Fairbanks Census Area,AK,3292.0,47.8,3283.0,51.6,3199.0,56.2,3035.0,...,2960.0,46.5,211.0,17.8,2904.0,51.0,2749.0,53.1,759.0,70.4
4,5/10/2023,Yakutat City and Borough,AK,483.0,83.4,482.0,87.8,465.0,91.7,440.0,...,461.0,84.0,41.0,56.9,445.0,87.8,420.0,88.1,113.0,92.6

In [5]:
columns_to_delete = ['Administered_Dose1_Pop_Pct', 'Administered_Dose1_Recip_5Plus', 'Administered_Dose1_Recip_5PlusPop_Pct', 'Administered_Dose1_Recip_12Plus', 'Administered_Dose1_Recip_12PlusPop_Pct', 'Administered_Dose1_Recip_18Plus', 'Administered_Dose1_Recip_18PlusPop_Pct', 'Administered_Dose1_Recip_65Plus', 'Administered_Dose1_Recip_65PlusPop_Pct', 'Series_Complete_Pop_Pct', 'Series_Complete_5Plus', 'Series_Complete_5PlusPop_Pct', 'Series_Complete_5to17', 'Series_Complete_5to17Pop_Pct', 'Series_Complete_12Plus', 'Series_Complete_12PlusPop_Pct', 'Series_Complete_18Plus', 'Series_Complete_18PlusPop_Pct', 'Series_Complete_65Plus', 'Series_Complete_65PlusPop_Pct']
Vax_df = Vax_df.drop(columns=columns_to_delete)

In [6]:
Vax_df.head()

,Date,Recip_County,Recip_State,Administered_Dose1_Recip,Series_Complete_Yes
0,5/10/2023,Yukon-Koyukuk Census Area,AK,4516.0,4158.0
1,5/10/2023,Bethel Census Area,AK,13690.0,12693.0
2,5/10/2023,Bristol Bay Borough,AK,1182.0,959.0
3,5/10/2023,Southeast Fairbanks Census Area,AK,3292.0,2968.0
4,5/10/2023,Yakutat City and Borough,AK,483.0,462.0

In [7]:
Vax_df = Vax_df.rename(columns={"Recip_County":"Counties", "Recip_State":"State", "Administered_Dose1_Recip":"Dose 1 Administered", "Series_Complete_Yes":"Dose 2 Administered/Series Completed"})
Vax_df.head()

,Date,Counties,State,Dose 1 Administered,Dose 2 Administered/Series Completed
0,5/10/2023,Yukon-Koyukuk Census Area,AK,4516.0,4158.0
1,5/10/2023,Bethel Census Area,AK,13690.0,12693.0
2,5/10/2023,Bristol Bay Borough,AK,1182.0,959.0
3,5/10/2023,Southeast Fairbanks Census Area,AK,3292.0,2968.0
4,5/10/2023,Yakutat City and Borough,AK,483.0,462.0

In [8]:
##date conversion 
Vax_df['Date'] = pd.to_datetime(Vax_df['Date'], format='%m/%d/%Y')
##group by date(year) AND by State 
Vax_byState_df = Vax_df.groupby([Vax_df['Date'].dt.year, 'State']).sum()
pd.set_option('display.float_format', '{:.2f}'.format)
Vax_byState_df

C:\Users\minak\AppData\Local\Temp\ipykernel_18604\1414361311.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Vax_byState_df = Vax_df.groupby([Vax_df['Date'].dt.year, 'State']).sum()

            Dose 1 Administered  Dose 2 Administered/Series Completed
Date State
2021 AK             46893676.00                           41042933.00
     AL            285213479.00                          232581292.00
     AR            186800408.00                          153225336.00
     AS              3813531.00                            3240245.00
     AZ            480335183.00                          412258409.00
...                         ...                                   ...
2023 VT             11804538.00                           10164246.00
     WA            123416283.00                          110114292.00
     WI             83149913.00                           75473298.00
     WV             22978483.00                           20323377.00
     WY              6696760.00                            5829701.00

[178 rows x 2 columns]

In [9]:
len(Vax_byState_df)

178

In [10]:
unique_states = Vax_byState_df.index.get_level_values('State').unique()
len(unique_states)

60

In [11]:
level_to_delete = 'State'
values_to_delete = ['AS', 'FM', 'GU', 'MH', 'MP', 'PR', 'PW', 'UNK', 'VI', 'DC', 'HI', 'AK']
Vax_byState_df = Vax_byState_df.drop(values_to_delete, level=level_to_delete)
Vax_byState_df

            Dose 1 Administered  Dose 2 Administered/Series Completed
Date State
2021 AL            285213479.00                          232581292.00
     AR            186800408.00                          153225336.00
     AZ            480335183.00                          412258409.00
     CA           3173245417.00                         2579837270.00
     CO            420337472.00                          377903748.00
...                         ...                                   ...
2023 VT             11804538.00                           10164246.00
     WA            123416283.00                          110114292.00
     WI             83149913.00                           75473298.00
     WV             22978483.00                           20323377.00
     WY              6696760.00                            5829701.00

[144 rows x 2 columns]

In [12]:
states = Vax_byState_df.index.get_level_values('State').unique()
len(states)

48

In [13]:
len(Vax_byState_df)

144

In [14]:
years = Vax_byState_df.index.get_level_values('Date').unique()
print(years)

Int64Index([2021, 2022, 2023], dtype='int64', name='Date')

In [15]:
Vax_byState_2021 = Vax_byState_df.groupby(level='Date').get_group(2021)
Vax_byState_2022 = Vax_byState_df.groupby(level='Date').get_group(2022)
Vax_byState_2023 = Vax_byState_df.groupby(level='Date').get_group(2023)

In [23]:
Vax_byState_2021.reset_index(inplace=True)
Vax_byState_2021.set_index('Date', inplace=True)

Vax_byState_2022.reset_index(inplace=True)
Vax_byState_2022.set_index('Date', inplace=True)

Vax_byState_2023.reset_index(inplace=True)
Vax_byState_2023.set_index('Date', inplace=True)

In [24]:
Vax_byState_2021.head()

     State  Dose 1 Administered  Dose 2 Administered/Series Completed
Date
2021    AL         285213479.00                          232581292.00
2021    AR         186800408.00                          153225336.00
2021    AZ         480335183.00                          412258409.00
2021    CA        3173245417.00                         2579837270.00
2021    CO         420337472.00                          377903748.00

In [25]:
Vax_byState_2022.head()

     State  Dose 1 Administered  Dose 2 Administered/Series Completed
Date
2022    AL         594964338.00                          483975174.00
2022    AR         389868658.00                          317672608.00
2022    AZ        1026496844.00                          864519801.00
2022    CA        6389481509.00                         5478766223.00
2022    CO         886031293.00                          782943612.00

In [26]:
Vax_byState_2023.head()

     State  Dose 1 Administered  Dose 2 Administered/Series Completed
Date
2023    AL          60536012.00                           49516997.00
2023    AR          40083357.00                           32612173.00
2023    AZ         107651008.00                           91353673.00
2023    CA         636624948.00                          560886876.00
2023    CO          91606144.00                           80462788.00

In [27]:
Vax_byState_df.to_csv("Data/Vax_byState_ALLYears.csv", index=False, encoding="ISO-8859-1")
Vax_byState_2021.to_csv("Data/Vax_byState_2021.csv", index=False, encoding="ISO-8859-1")
Vax_byState_2022.to_csv("Data/Vax_byState_2022.csv", index=False, encoding="ISO-8859-1")
Vax_byState_2023.to_csv("Data/Vax_byState_2023.csv", index=False, encoding="ISO-8859-1")