In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Set path
file_path = Path('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Provisional_COVID-19_Deaths_by_Sex_and_Age.csv')

In [3]:
# Read csv
deaths_df =pd.read_csv(file_path, encoding="ISO-8859-1")

In [4]:
deaths_df.head()

,Data As Of,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,6/21/2023,1/1/2020,6/17/2023,By Total,NaN,NaN,United States,All Sexes,All Ages,1135308.0,11505885.0,1119592.0,564905.0,21867.0,1709403.0,NaN
1,6/21/2023,1/1/2020,6/17/2023,By Total,NaN,NaN,United States,All Sexes,Under 1 year,497.0,67870.0,965.0,88.0,63.0,1435.0,NaN
2,6/21/2023,1/1/2020,6/17/2023,By Total,NaN,NaN,United States,All Sexes,0-17 years,1647.0,120949.0,2719.0,411.0,493.0,4423.0,NaN
3,6/21/2023,1/1/2020,6/17/2023,By Total,NaN,NaN,United States,All Sexes,1-4 years,274.0,13102.0,625.0,64.0,171.0,997.0,NaN
4,6/21/2023,1/1/2020,6/17/2023,By Total,NaN,NaN,United States,All Sexes,5-14 years,496.0,20321.0,761.0,140.0,211.0,1315.0,NaN

In [5]:
# Delete columns convert datetime columns and filter unwanted states
delete_columns = ['Data As Of','Start Date','End Date','Month','Footnote']
deaths_df = deaths_df.drop(columns=delete_columns)
deaths_df=deaths_df[~deaths_df['State'].isin(['United States', 'Alaska', 'Hawaii', 'Puerto Rico',
                                              'District of Columbia', 'New York City'])]
deaths_df.head()

,Group,Year,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
51,By Total,NaN,Alabama,All Sexes,All Ages,21297.0,216656.0,16968.0,7347.0,343.0,31215.0
52,By Total,NaN,Alabama,All Sexes,Under 1 year,NaN,1359.0,18.0,NaN,NaN,23.0
53,By Total,NaN,Alabama,All Sexes,0-17 years,18.0,2452.0,42.0,NaN,NaN,63.0
54,By Total,NaN,Alabama,All Sexes,1-4 years,NaN,324.0,11.0,NaN,NaN,17.0
55,By Total,NaN,Alabama,All Sexes,5-14 years,NaN,403.0,11.0,NaN,NaN,15.0

In [6]:
states = deaths_df['State'].unique()
len(states)

48

In [7]:
deaths_df.dtypes

Group                                        object
Year                                        float64
State                                        object
Sex                                          object
Age Group                                    object
COVID-19 Deaths                             float64
Total Deaths                                float64
Pneumonia Deaths                            float64
Pneumonia and COVID-19 Deaths               float64
Influenza Deaths                            float64
Pneumonia, Influenza, or COVID-19 Deaths    float64
dtype: object

In [8]:
# Creaty death by state df
deaths_byState_df = deaths_df[(deaths_df['Group'] == 'By Year') 
                              & (deaths_df['Sex'] == 'All Sexes') 
                              & (deaths_df['Age Group'] == 'All Ages')]
d_columns = ['Group','Sex','Age Group']
deaths_byState_df = deaths_byState_df.drop(columns=d_columns)
deaths_byState_df['Year'] = pd.to_datetime(deaths_byState_df['Year'], format='%Y').dt.year
deaths_byState_df = deaths_byState_df[deaths_byState_df['Year'] != 2020]
deaths_byState_df

,Year,State,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
3009,2021,Alabama,9719.0,67323.0,6356.0,3604.0,36.0,12496.0
3060,2022,Alabama,4227.0,61127.0,3935.0,1349.0,132.0,6932.0
3111,2023,Alabama,645.0,24844.0,1464.0,217.0,35.0,1917.0
3417,2021,Arizona,14060.0,82476.0,11969.0,8524.0,19.0,17518.0
3468,2022,Arizona,5906.0,75074.0,6373.0,3008.0,145.0,9403.0
...,...,...,...,...,...,...,...,...
13260,2022,Wisconsin,3908.0,60281.0,3561.0,1306.0,153.0,6302.0
13311,2023,Wisconsin,666.0,25295.0,1275.0,217.0,83.0,1797.0
13413,2021,Wyoming,963.0,5962.0,808.0,582.0,NaN,1191.0
13464,2022,Wyoming,353.0,5455.0,380.0,165.0,17.0,585.0
13515,2023,Wyoming,60.0,2274.0,135.0,21.0,NaN,177.0

In [9]:
# Create deaths by sex df
deaths_bySex_df = deaths_df[(deaths_df['Group'] == 'By Year') 
                            & (deaths_df['Sex'].isin(['Male', 'Female'])) 
                            & (deaths_df['Age Group'] == 'All Ages')]
d2_columns = ['Group','Age Group']
deaths_bySex_df = deaths_bySex_df.drop(columns=d2_columns)
deaths_bySex_df['Year'] = pd.to_datetime(deaths_bySex_df['Year'], format='%Y').dt.year
deaths_bySex_df = deaths_bySex_df[deaths_bySex_df['Year'] != 2020]
deaths_bySex_df

,Year,State,Sex,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
3026,2021,Alabama,Male,5226.0,35441.0,3435.0,1926.0,19.0,6746.0
3043,2021,Alabama,Female,4493.0,31882.0,2921.0,1678.0,17.0,5750.0
3077,2022,Alabama,Male,2312.0,31897.0,2160.0,766.0,67.0,3767.0
3094,2022,Alabama,Female,1915.0,29230.0,1775.0,583.0,65.0,3165.0
3128,2023,Alabama,Male,356.0,12931.0,818.0,122.0,16.0,1061.0
...,...,...,...,...,...,...,...,...,...
13447,2021,Wyoming,Female,418.0,2721.0,365.0,246.0,NaN,538.0
13481,2022,Wyoming,Male,185.0,2953.0,212.0,94.0,12.0,315.0
13498,2022,Wyoming,Female,168.0,2502.0,168.0,71.0,NaN,270.0
13532,2023,Wyoming,Male,35.0,1220.0,75.0,13.0,NaN,99.0
13549,2023,Wyoming,Female,25.0,1054.0,60.0,NaN,NaN,78.0

In [10]:
# Creat Death by age df
deaths_byAge_df = deaths_df
deaths_byAge_df = deaths_byAge_df[(deaths_df['Group'] == 'By Year') 
                                  & (deaths_df['Sex']=='All Sexes') 
                                  & (deaths_df['Age Group'].isin(['0-17 years','18-29 years',
                                                                  '30-39 years','40-49 years',
                                                                  '50-64 years','65-74 years',
                                                                  '75-84 years','85 years and over']))]
deaths_byAge_df.fillna(0, inplace=True)
# Reset Age Group column to new age goups
deaths_byAge_df['Age Group'] = deaths_df['Age Group'].replace({'30-39 years': '30-49 years',
                                               '40-49 years': '30-49 years',
                                               '50-64 years': '50-74 years',
                                               '65-74 years': '50-74 years',
                                               '75-84 years': '75+ years',
                                               '85 years and over': '75+ years'})
# Drop Columns rename startdate column and chand date to year only 
d3_columns = ['Group','Sex']
deaths_byAge_df = deaths_byAge_df.drop(columns=d3_columns)
deaths_byAge_df['Year'] = pd.to_datetime(deaths_byAge_df['Year'], format='%Y').dt.year
deaths_byAge_df = deaths_byAge_df[deaths_byAge_df['Year'] != 2020]
deaths_byAge_df.head()

C:\Users\Owner\AppData\Local\Temp\ipykernel_31160\2374221138.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deaths_byAge_df.fillna(0, inplace=True)
C:\Users\Owner\AppData\Local\Temp\ipykernel_31160\2374221138.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deaths_byAge_df['Age Group'] = deaths_df['Age Group'].replace({'30-39 years': '30-49 years',

,Year,State,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
3011,2021,Alabama,0-17 years,0.0,795.0,12.0,0.0,0.0,19.0
3015,2021,Alabama,18-29 years,87.0,1357.0,57.0,38.0,0.0,107.0
3017,2021,Alabama,30-49 years,273.0,2087.0,151.0,105.0,0.0,319.0
3019,2021,Alabama,30-49 years,685.0,3542.0,374.0,257.0,0.0,802.0
3021,2021,Alabama,50-74 years,2481.0,13369.0,1461.0,959.0,16.0,2994.0

In [11]:
deaths_byStateYear_df= deaths_byState_df.groupby(['Year', 'State']).sum()
deaths_byStateYear_df

                    COVID-19 Deaths  Total Deaths  Pneumonia Deaths  \
Year State
2021 Alabama                 9719.0       67323.0            6356.0
     Arizona                14060.0       82476.0           11969.0
     Arkansas                5336.0       40034.0            4788.0
     California             48329.0      334604.0           45888.0
     Colorado                6207.0       49135.0            5400.0
...                             ...           ...               ...
2023 Virginia                1068.0       34135.0            1698.0
     Washington               774.0       28795.0            1758.0
     West Virginia            399.0       10966.0            1031.0
     Wisconsin                666.0       25295.0            1275.0
     Wyoming                   60.0        2274.0             135.0

                    Pneumonia and COVID-19 Deaths  Influenza Deaths  \
Year State
2021 Alabama                               3604.0              36.0
     Arizona                               8524.0              19.0
     Arkansas                              2870.0              15.0
     California                           30147.0              53.0
     Colorado                              3634.0              13.0
...                                           ...               ...
2023 Virginia                               350.0              54.0
     Washington                             333.0             100.0
     West Virginia                          150.0              20.0
     Wisconsin                              217.0              83.0
     Wyoming                                 21.0               0.0

                    Pneumonia, Influenza, or COVID-19 Deaths
Year State
2021 Alabama                                         12496.0
     Arizona                                         17518.0
     Arkansas                                         7264.0
     California                                      64109.0
     Colorado                                         7983.0
...                                                      ...
2023 Virginia                                         2467.0
     Washington                                       2294.0
     West Virginia                                    1299.0
     Wisconsin                                        1797.0
     Wyoming                                           177.0

[144 rows x 6 columns]

In [12]:
deaths_bySexYear_df=deaths_bySex_df.groupby(['Year', 'State', 'Sex']).sum()
deaths_bySexYear_df

                           COVID-19 Deaths  Total Deaths  Pneumonia Deaths  \
Year State         Sex
2021 Alabama       Female           4493.0       31882.0            2921.0
                   Male             5226.0       35441.0            3435.0
     Arizona       Female           5753.0       36616.0            4910.0
                   Male             8307.0       45860.0            7059.0
     Arkansas      Female           2378.0       18625.0            2094.0
...                                    ...           ...               ...
2023 West Virginia Male              198.0        5808.0             546.0
     Wisconsin     Female            307.0       12127.0             579.0
                   Male              359.0       13168.0             696.0
     Wyoming       Female             25.0        1054.0              60.0
                   Male               35.0        1220.0              75.0

                           Pneumonia and COVID-19 Deaths  Influenza Deaths  \
Year State         Sex
2021 Alabama       Female                         1678.0              17.0
                   Male                           1926.0              19.0
     Arizona       Female                         3398.0               0.0
                   Male                           5126.0              12.0
     Arkansas      Female                         1249.0               0.0
...                                                  ...               ...
2023 West Virginia Male                             80.0               0.0
     Wisconsin     Female                           84.0              49.0
                   Male                            133.0              34.0
     Wyoming       Female                            0.0               0.0
                   Male                             13.0               0.0

                           Pneumonia, Influenza, or COVID-19 Deaths
Year State         Sex
2021 Alabama       Female                                    5750.0
                   Male                                      6746.0
     Arizona       Female                                    7270.0
                   Male                                     10248.0
     Arkansas      Female                                    3228.0
...                                                             ...
2023 West Virginia Male                                       666.0
     Wisconsin     Female                                     843.0
                   Male                                       954.0
     Wyoming       Female                                      78.0
                   Male                                        99.0

[288 rows x 6 columns]

In [13]:
deaths_byAgeYear_df = deaths_byAge_df.groupby(['Year', 'State', 'Age Group']).sum()
deaths_byAgeYear_df.head()

                          COVID-19 Deaths  Total Deaths  Pneumonia Deaths  \
Year State   Age Group
2021 Alabama 0-17 years               0.0         795.0              12.0
             18-29 years             87.0        1357.0              57.0
             30-49 years            958.0        5629.0             525.0
             50-74 years           5029.0       28844.0            3168.0
             75+ years             3636.0       30698.0            2594.0

                          Pneumonia and COVID-19 Deaths  Influenza Deaths  \
Year State   Age Group
2021 Alabama 0-17 years                             0.0               0.0
             18-29 years                           38.0               0.0
             30-49 years                          362.0               0.0
             50-74 years                         1927.0              16.0
             75+ years                           1275.0               0.0

                          Pneumonia, Influenza, or COVID-19 Deaths
Year State   Age Group
2021 Alabama 0-17 years                                       19.0
             18-29 years                                     107.0
             30-49 years                                    1121.0
             50-74 years                                    6284.0
             75+ years                                      4965.0

In [14]:
Death_byState_2021 = deaths_byStateYear_df.groupby(level='Year').get_group(2021)
Death_byState_2022 = deaths_byStateYear_df.groupby(level='Year').get_group(2022)
Death_byState_2023 = deaths_byStateYear_df.groupby(level='Year').get_group(2023)

In [15]:
Death_byState_2021.head()

                 COVID-19 Deaths  Total Deaths  Pneumonia Deaths  \
Year State
2021 Alabama              9719.0       67323.0            6356.0
     Arizona             14060.0       82476.0           11969.0
     Arkansas             5336.0       40034.0            4788.0
     California          48329.0      334604.0           45888.0
     Colorado             6207.0       49135.0            5400.0

                 Pneumonia and COVID-19 Deaths  Influenza Deaths  \
Year State
2021 Alabama                            3604.0              36.0
     Arizona                            8524.0              19.0
     Arkansas                           2870.0              15.0
     California                        30147.0              53.0
     Colorado                           3634.0              13.0

                 Pneumonia, Influenza, or COVID-19 Deaths
Year State
2021 Alabama                                      12496.0
     Arizona                                      17518.0
     Arkansas                                      7264.0
     California                                   64109.0
     Colorado                                      7983.0

In [16]:
Death_byState_2022.head()

                 COVID-19 Deaths  Total Deaths  Pneumonia Deaths  \
Year State
2022 Alabama              4227.0       61127.0            3935.0
     Arizona              5906.0       75074.0            6373.0
     Arkansas             2773.0       37626.0            3162.0
     California          22396.0      315471.0           27740.0
     Colorado             3414.0       47648.0            3584.0

                 Pneumonia and COVID-19 Deaths  Influenza Deaths  \
Year State
2022 Alabama                            1349.0             132.0
     Arizona                            3008.0             145.0
     Arkansas                           1194.0             141.0
     California                        11166.0             671.0
     Colorado                           1459.0             181.0

                 Pneumonia, Influenza, or COVID-19 Deaths
Year State
2022 Alabama                                       6932.0
     Arizona                                       9403.0
     Arkansas                                      4875.0
     California                                   39601.0
     Colorado                                      5710.0

In [17]:
Death_byState_2023.head()

                 COVID-19 Deaths  Total Deaths  Pneumonia Deaths  \
Year State
2023 Alabama               645.0       24844.0            1464.0
     Arizona               801.0       31830.0            1967.0
     Arkansas              404.0       15578.0            1057.0
     California           3653.0      131363.0            9659.0
     Colorado              541.0       20008.0            1108.0

                 Pneumonia and COVID-19 Deaths  Influenza Deaths  \
Year State
2023 Alabama                             217.0              35.0
     Arizona                             371.0              49.0
     Arkansas                            140.0              25.0
     California                         1512.0             185.0
     Colorado                            202.0              59.0

                 Pneumonia, Influenza, or COVID-19 Deaths
Year State
2023 Alabama                                       1917.0
     Arizona                                       2444.0
     Arkansas                                      1344.0
     California                                   11964.0
     Colorado                                      1505.0

In [18]:
Death_bySex_2021 = deaths_bySexYear_df.groupby(level='Year').get_group(2021)
Death_bySex_2022 = deaths_bySexYear_df.groupby(level='Year').get_group(2022)
Death_bySex_2023 = deaths_bySexYear_df.groupby(level='Year').get_group(2023)

In [19]:
Death_bySex_2021.head()

                      COVID-19 Deaths  Total Deaths  Pneumonia Deaths  \
Year State    Sex
2021 Alabama  Female           4493.0       31882.0            2921.0
              Male             5226.0       35441.0            3435.0
     Arizona  Female           5753.0       36616.0            4910.0
              Male             8307.0       45860.0            7059.0
     Arkansas Female           2378.0       18625.0            2094.0

                      Pneumonia and COVID-19 Deaths  Influenza Deaths  \
Year State    Sex
2021 Alabama  Female                         1678.0              17.0
              Male                           1926.0              19.0
     Arizona  Female                         3398.0               0.0
              Male                           5126.0              12.0
     Arkansas Female                         1249.0               0.0

                      Pneumonia, Influenza, or COVID-19 Deaths
Year State    Sex
2021 Alabama  Female                                    5750.0
              Male                                      6746.0
     Arizona  Female                                    7270.0
              Male                                     10248.0
     Arkansas Female                                    3228.0

In [20]:
Death_bySex_2022.head()

                      COVID-19 Deaths  Total Deaths  Pneumonia Deaths  \
Year State    Sex
2022 Alabama  Female           1915.0       29230.0            1775.0
              Male             2312.0       31897.0            2160.0
     Arizona  Female           2476.0       33819.0            2723.0
              Male             3430.0       41255.0            3650.0
     Arkansas Female           1278.0       17868.0            1430.0

                      Pneumonia and COVID-19 Deaths  Influenza Deaths  \
Year State    Sex
2022 Alabama  Female                          583.0              65.0
              Male                            766.0              67.0
     Arizona  Female                         1236.0              81.0
              Male                           1772.0              64.0
     Arkansas Female                          508.0              80.0

                      Pneumonia, Influenza, or COVID-19 Deaths
Year State    Sex
2022 Alabama  Female                                    3165.0
              Male                                      3767.0
     Arizona  Female                                    4035.0
              Male                                      5368.0
     Arkansas Female                                    2275.0

In [21]:
Death_bySex_2023.head()

                      COVID-19 Deaths  Total Deaths  Pneumonia Deaths  \
Year State    Sex
2023 Alabama  Female            289.0       11913.0             646.0
              Male              356.0       12931.0             818.0
     Arizona  Female            347.0       14523.0             852.0
              Male              454.0       17307.0            1115.0
     Arkansas Female            199.0        7431.0             491.0

                      Pneumonia and COVID-19 Deaths  Influenza Deaths  \
Year State    Sex
2023 Alabama  Female                           95.0              19.0
              Male                            122.0              16.0
     Arizona  Female                          164.0              17.0
              Male                            207.0              32.0
     Arkansas Female                           66.0              10.0

                      Pneumonia, Influenza, or COVID-19 Deaths
Year State    Sex
2023 Alabama  Female                                     856.0
              Male                                      1061.0
     Arizona  Female                                    1051.0
              Male                                      1393.0
     Arkansas Female                                     634.0

In [22]:
Death_byAge_2021 = deaths_byAgeYear_df.groupby(level='Year').get_group(2021)
Death_byAge_2022 = deaths_byAgeYear_df.groupby(level='Year').get_group(2022)
Death_byAge_2023 = deaths_byAgeYear_df.groupby(level='Year').get_group(2023)

In [23]:
Death_byAge_2021.head()

                          COVID-19 Deaths  Total Deaths  Pneumonia Deaths  \
Year State   Age Group
2021 Alabama 0-17 years               0.0         795.0              12.0
             18-29 years             87.0        1357.0              57.0
             30-49 years            958.0        5629.0             525.0
             50-74 years           5029.0       28844.0            3168.0
             75+ years             3636.0       30698.0            2594.0

                          Pneumonia and COVID-19 Deaths  Influenza Deaths  \
Year State   Age Group
2021 Alabama 0-17 years                             0.0               0.0
             18-29 years                           38.0               0.0
             30-49 years                          362.0               0.0
             50-74 years                         1927.0              16.0
             75+ years                           1275.0               0.0

                          Pneumonia, Influenza, or COVID-19 Deaths
Year State   Age Group
2021 Alabama 0-17 years                                       19.0
             18-29 years                                     107.0
             30-49 years                                    1121.0
             50-74 years                                    6284.0
             75+ years                                      4965.0

In [24]:
Death_byAge_2022.head()

                          COVID-19 Deaths  Total Deaths  Pneumonia Deaths  \
Year State   Age Group
2022 Alabama 0-17 years               0.0         714.0              15.0
             18-29 years             27.0        1243.0              23.0
             30-49 years            183.0        4745.0             190.0
             50-74 years           1911.0       24859.0            1738.0
             75+ years             2099.0       29566.0            1969.0

                          Pneumonia and COVID-19 Deaths  Influenza Deaths  \
Year State   Age Group
2022 Alabama 0-17 years                             0.0               0.0
             18-29 years                           10.0               0.0
             30-49 years                           48.0               0.0
             50-74 years                          618.0              50.0
             75+ years                            672.0              65.0

                          Pneumonia, Influenza, or COVID-19 Deaths
Year State   Age Group
2022 Alabama 0-17 years                                       25.0
             18-29 years                                      41.0
             30-49 years                                     337.0
             50-74 years                                    3076.0
             75+ years                                      3453.0

In [25]:
Death_byAge_2023.head()

                          COVID-19 Deaths  Total Deaths  Pneumonia Deaths  \
Year State   Age Group
2023 Alabama 0-17 years               0.0         250.0               0.0
             18-29 years              0.0         442.0              12.0
             30-49 years             15.0        1868.0              72.0
             50-74 years            220.0        9784.0             598.0
             75+ years              400.0       12500.0             778.0

                          Pneumonia and COVID-19 Deaths  Influenza Deaths  \
Year State   Age Group
2023 Alabama 0-17 years                             0.0               0.0
             18-29 years                            0.0               0.0
             30-49 years                            0.0               0.0
             50-74 years                           72.0               0.0
             75+ years                            137.0              12.0

                          Pneumonia, Influenza, or COVID-19 Deaths
Year State   Age Group
2023 Alabama 0-17 years                                        0.0
             18-29 years                                      14.0
             30-49 years                                      88.0
             50-74 years                                     756.0
             75+ years                                      1055.0

In [28]:
deaths_byStateYear_df.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byState_ALLYears.csv', index=False, encoding='ISO-8859-1')
deaths_bySexYear_df.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_bySex_ALLYears.csv', index=False, encoding='ISO-8859-1')
deaths_byAgeYear_df.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byAge_ALLYears.csv', index=False, encoding='ISO-8859-1')
Death_byState_2021.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byState_2021.csv', index=False, encoding='ISO-8859-1')
Death_byState_2022.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byState_2022.csv', index=False, encoding='ISO-8859-1')
Death_byState_2023.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byState_2023.csv', index=False, encoding='ISO-8859-1')
Death_bySex_2021.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_bySex_2021.csv', index=False, encoding='ISO-8859-1')
Death_bySex_2022.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_bySex_2022.csv', index=False, encoding='ISO-8859-1')
Death_bySex_2023.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_bySex_2023.csv', index=False, encoding='ISO-8859-1')
Death_byAge_2021.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byAge_2021.csv', index=False, encoding='ISO-8859-1')
Death_byAge_2022.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byAge_2022.csv', index=False, encoding='ISO-8859-1')
Death_byAge_2023.to_csv('C:/Users/Owner/Documents/Data Boot Camp/Projects/Project 3/Death_byAge_2023.csv', index=False, encoding='ISO-8859-1')